body {
	font-family: "Georgia";
	background-image: url(../images/the_librarian.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

div#masterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

div.content {
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
}
    
div#mainContent {
    order: 1;
}

div#commandMenuDiv {
    background-color: rgba(255, 255, 255, 0.0)
}

.header {
    text-align: center;
}

.font-librebaskerville {
    font-family: 'Libre Baskerville';
    font-size: 22px;
}

div.inputDiv {
    text-align: center;
    /* color: white; */
    /* background-color: navy; */
    margin-left: auto;
    margin-right: auto;
}

div#textAreaDiv, textarea {
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* .inline {
    display: inline;
} */

table.menu, table#resultsTable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
};

td.menuData {
    border-top: 1px solid black;
    font-size: x-large;
}

.alignRight {
    text-align: right;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}