h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    background-color: navy;
    height: 50px;
    width: 50px;
}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    padding-top: 10px;
    text-align: center;
}

button {
    margin: 5px;
}

