img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

#createNewButton {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.buttonRow {
    margin: 25px;
}

input {
}

body {
    background-image: url(spirit.jpg);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
    }
    
span, p {
    color: white;
}
